#null {
    width: 600;
  border:2px solid white;
  height: 50px;
}
#null1 {
    width: 620;
  /* border:2px solid white;
  height: 50px; */
}
#null2 {
    width: 680;
    font-size: 10;
  /* border:2px solid white;
  height: 50px; */
}


#space1 {
    width: 600;
  /* border:2px solid white;
  height: 50px; */

}

#space2 {
    width: 600;
  /* border:2px solid white;
  height: 50px; */
  display: block;
text-align: right;
}

#one {

  color: #197EAD;
  font-size: 20;
  width: 600;
  text-align: right;


}

#one2 {

  font-size: 30;
  width: 600;
}
#one3 {

  display: inline-block;
    margin: 0 40px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 620;
}

#one5 {

  font-size: 8;
  width: 600;
}
#two {
    width: 860;
  border:2px solid silver;
}
#three {
  font-size: 10;
    width: 120;
  border:2px;
}
#four {
  font-size: 8;
    width: 120;
  border:2px;
}
#five {
  position: absolute;
  font-size: 8;
    width: 120;
  border:2px;
  right: 120;
  /* float:right; */
  top: 410;
  left: 135;
}
#six {
  position: absolute;
  font-size: 8;
    width: 120;
  border:2px;
  /* float:right; */
  top: 410;
  left: 255;
}
#seven {
  position: absolute;
  font-size: 8;
    width: 70;
  border:2px;
  right: 130;
  /* float:right; */
  top: 175;
  left: 135;
  max-width:70%;
max-height:70%;
}
#eight {
  position: absolute;
  font-size: 8;
    width: 120;
  border:2px;
  right: 130;
  /* float:right; */
  top: 180;
  left: 380;
}
#nein {
  position: absolute;
  font-size: 8;
    width: 120;
  border:2px;
  right: 130;
  /* float:right; */
  top: 180;
  left: 505;
}
img {
    width: 330%;
    height: auto;
}
#ten{
  display: inline-block;
    margin: 40 40px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 620;
}

#zur_person{
  color: #197EAD;
}
