

<link rel="stylesheet" href="zeitung.css" name="zeitung.css">

<div  id="null">
 </div>

 <div  id="null1">

     --------------------------------------------------------------------------------------------------------------------
  </div>
  <div  id="null2">

 www.die-wirtschaftszeitung.de &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Februar 2018 | <b>SEITE 21</b>
   </div>
   <div  id="one5">
&nbsp;

    </div>
<div  id="one">
WIRTSCHAFTSZEITUNG FORUM

 </div>


  <div  id="one3">

   </div>
 <div  id="one2">
Green Controlling schafft Mehrwert

  </div>

 <div id="three">
<br>
Beim Wirtschaftszeitung
Forum am 22. März zeigen
Dr. Monica Streck und Vera
Stelkens von der Flughafen
München GmbH, wie nachhaltige
Unternehmensführung
aussehen kann.

  </div>
  <div id="four">
 <br>
 Frau Dr. Streck, was genau ist Green Controlling?
   &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
 Dr. Monica Streck: Green Controlling
 verfolgt die Idee, nicht-finanzielle
 Kennzahlen in die ganzheitliche Betrachtung
 einer unternehmerischen
 Entwicklung zu integrieren. Es erweitert
 das bestehende Controlling um soziale
 und ökologische Ziele. Green
 Controlling umfasst damit alle drei Dimensionen
 der Nachhaltigkeit: Ökonomie,
 Ökologie und Soziales. Der Begriff
 Green Controlling zielte ursprünglich
 vor allem auf ökologische
 Belange ab. Heute kann er aber missverstanden
 werden, da soziale Themen
 immer wichtiger für eine nachhaltige
 Unternehmensentwicklung werden.
 Warum ist eine nachhaltige Unternehmensführung
 sinnvoll?
 Vera Stelkens: Nachhaltigkeitsmanagement
 schafft unternehmerischen
 Mehrwert. Dieser ist in Teilen quantitativ
 messbar, aber oft qualitativer Natur
 – wie die Herstellung der Wettbewerbs-
 und Kapitalmarktfähigkeit, die
 Weiterentwicklung des Geschäftsmodells,
 die Stärkung der Außenwahrnehmung
 oder die Förderung gesellschaftlicher
 Akzeptanz.

   </div>

     <div id="five">
       Welchen Weg geht der Flughafen München
   hier?
     &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
   Dr. Streck: Das Geschäftsmodell eines
   internationalen Drehkreuzes hat zahlreiche
   positive Auswirkungen, unter
   anderem für zwischenmenschliche,
   kulturelle, wirtschaftliche und sportliche
   Begegnungen. Der Betrieb eines
   stetig wachsenden Großflughafens ist
   aber auch mit Belastungen wie etwa
   Lärm oder CO2-Emissionen verbunden.
   Daher muss die Luftverkehrsbranche
   ihre negativen Auswirkungen
   konsequent weiter reduzieren. Der
   Flughafen München schreibt Nachhaltigkeit
   groß und hat das Thema vollständig
   in die Konzernstrategie und
   das Zukunftsbild 2025 integriert. Ein

   </div>
   <div id ="seven">
  <img src="z1.png" class="w3-round" alt="Norway">
   </div>

   <div id ="six">
     strategisches Nachhaltigkeitsprogramm
     mit konkreten Initiativen und
     Maßnahmen für alle wichtigen Themen
     einer nachhaltigen Konzernentwicklung
     präzisiert die übergeordneten
     Ziele und ist so der Fahrplan für eine
     nachhaltige Entwicklung. Die Ziele
     sind auch Bestandteil der leistungsorientierten
     Vergütung für Führungskräfte.
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
     Welche konkreten Ergebnisse liefert Green
     Controlling für ein oder für Ihr Unternehmen?  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
     Stelkens: Es schafft mehr Transparenz
     über nicht-finanzielle Daten, und qualitative
     Nachhaltigkeitsthemen bekommen
     einen höheren Stellenwert
   </div>

   <div id="eight">sobald sie in der Unternehmenssteuerung
und im Controlling verankert
werden. Zudem ist Green Controlling
wichtig für die Entwicklung und Operationalisierung
neuer Strategien, insbesondere,
wenn diese auf mehrere
Jahre angelegt sind wie etwa beim Klimaschutz.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
Was raten Sie anderen Unternehmen, die
Green Controlling in ihre Strategie integrieren
wollen, aber nicht wissen, was die
ersten Schritte sind? &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
Dr. Streck: Insbesondere kleine und
mittlere Unternehmen sollten sich
nicht abschrecken lassen. Eine passende
Green-Controlling-Lösung muss
immer unternehmensspezifisch sein.
Das Green Controlling sollte zur strategischen
Bedeutung der Nachhaltigkeit
und den damit verfolgten Zielen
passen. Als erster Schritt ist ratsam, die
bereits im Unternehmen vorhandene
Datenlage zu evaluieren und zu prüfen,
ob nachhaltigkeitsrelevante Themen
bereits auf der Agenda der Unternehmensführung
stehen. Üblicherweise
tun sie das bereits. Damit hat
man auch die Möglichkeit, konkrete
Einzelstrategien zu entwickeln – wie
eine Klimaschutzstrategie oder eine
neue Personalstrategie, die zum Beispiel
Diversitätsthemen beinhaltet.
Welche thematischen Impulse setzt der
Fachkreis Green Controlling des Internationalen
Controller Vereins (ICV) aktuell?
Stelkens: 2017 stand im Zeichen des
Themas „Integrated Reporting – Die
Rolle der Controller in einer ganzheitlichen
Unternehmenssteuerung“, wozu
der Arbeitskreis ein White Pape</div>
<div id="nein">
  veröffentlicht hat. Im Rahmen dersteigenden
  Bedeutung von Business Analytics
  erarbeiten wir derzeit, welche
  Rolle Nachhaltigkeit in Form von „Sustainability
  Analytics“ hierbei spielen
  könnte. 2018 wollen wir den Fokus
  stärker auf die Themen Impact Management
  and Measurement legen.
  Außerdem erarbeiten wir gerade ein
  White Paper mit zehn praxisorientierten
  Thesen zum Green Controlling.

    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

  Interview: Martin Angerer
Foto: Flughafen München GmbH

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;



<span id="zur_person">ZUR PERSON</span> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;   --------------------------------------

  &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<b>Dr. Monica Streck</b> ist seit 2006 bei der
Flughafen München GmbH im Bereich
der Konzernentwicklung beschäftigt und
hat dort unter anderem das für die Flughafengesellschaft
wettbewerbsrelevante
Thema Nachhaltigkeit federführend vorangetrieben.
Derzeit leitet sie im Bereich
Konzernstrategie das strategische
Nachhaltigkeitsmanagement. &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
<b>Vera Stelkens </b> ist seit 2013 Referentin
für strategisches Nachhaltigkeitsmanagement
bei der Flughafen München
GmbH im Bereich der Konzernentwicklung.
Ihre Schwerpunktthemen sind unter
anderem Klimaschutzstrategie, strategische
Programmplanung sowie integrierte
Berichterstattung. Seit 2016 ist sie
stellvertretende Leiterin des Fachkreises
Green Controlling im Internationalen
Controller Verein (ICV)
</div>

<div id="ten">
<br>
</div>
