body {

    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}
html, body{
    height: 100%;
    background-color: #1954B8;
}

a {
    color: #84bbf3;
}

.main {
      color: #000000;
    background-color: #EDEDEF;
      width: 1000px;
      height:550px;
      margin:0 auto;
      padding:20px;
  }

/*.gigaMain {*/
    /*color:#cccccc;*/
    /*!*background-color: #2a366a;*!*/
    /*background:transparent url('/images/empty_backspace.png') repeat center top;*/
    /*!*width: 1000px;*!*/
    /*!*height:550px;*!*/
    /*!*margin:0 auto;*!*/
    /*!*padding:20px;*!*/
/*}*/


.title {
    color: #000000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

#xxx{

    position: absolute;

    border:2px;

    max-width:70%;
    max-height:70%;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.login_form{
    padding-left:50px;
    text-align: center;
    padding: 20px;
}

.login_div{
    width:350px;
    border: 1px solid #000000;
    margin: 0 auto;
    padding:10px;

}

.footer{
    color: #000000;
    height: 50px;
    text-align: center;
    margin:50px;
    clear: both;
}

.content{
    height: 300px;

}

input{

}

